<div class="container mt-5 pt-5">
  <h3 class="text-success justify-content-center align-items-center d-flex">Employee Report Tracker</h3>
  <div class="row mt-2">
      <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
          <h1><i class="fa fa-lock fa-3x"></i></h1>
          <p>Create an account or login</p>
          <a href="users/register" class="btn btn-primary btn-info mb-2">Register</a>
          <a href="users/login" class="btn btn-secondary btn-success">Login</a>
        </div>
      </div>
    </div>
</div>





