<h2>New Report</h2>
<br>
<hr>
<form action="/reports/create" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title"><br>
    <label for="body">Body</label>
    <textarea rows="14" cols="30" name="body"></textarea><br>
    <label for="body">Message</label>
    <textarea rows="14" cols="30" name="message"></textarea><br>
    <input type="submit" value="Submit">
</form>